body {
	font-size: 16px;
	color: #000000;
	font-family: sans-serif;
	margin: 0px;
}
a.default_links {
	color: #181a9b;
	font-size: 16px;
	font-family: sans-serif;
}
a.default_links:link {
	color: #181a9b;
 	text-decoration: none;
}
a.default_links:visited {
	color: #181a9b;
  text-decoration: none;
}
a.default_links:hover {
	color: #181a9b;
  text-decoration: none;
}
a.default_links:active {
	color: #181a9b;
  text-decoration: none;
}
h1 {
	color: #111111;
    	font-size: 32px;
   	font-weight: 200;
}
table {
	border-collapse: collapse;
	overflow-x: auto;
	display: block;
}
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 6px;
	margin: 0px;
}
th {
	font-weight: bold;
}
.header1 {
	background-color: #000000;
	min-width: 100%;
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
#logo1 {
	padding: 10px;
	margin-left: 10%;
	font-size: 26px;
	background-color: #1D0A51;
	display: inline-block;
	font-family: sans-serif;
}
#logo1:link {
  color: #FFFFFF;
  text-decoration: none;
}
#logo1:visited {
  color: #FFFFFF;
  text-decoration: none;
}
#logo1:hover {
  color: #FFFFFF;
  text-decoration: none;
	background-color: #2E069B;
}
#logo1:active {
  color: #FFFFFF;
  text-decoration: none;
}
#logo2 {
	/* padding: 10px; */
	margin-left: 10%;
	font-size: 26px;
	background-color: #000000;
	display: inline-block;
	font-family: sans-serif;
	height: 90%;
	width: auto;
	vertical-align: middle;
}
#link_home {
	padding: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	/* vertical-align: middle; */
	display: inline-block;
	font-family: sans-serif;
}
#link_home:link {
  color: #FFFFFF;
  text-decoration: none;
}
#link_home:visited {
  color: #FFFFFF;
  text-decoration: none;
}
#link_home:hover {
  color: #EEEEEE;
  text-decoration: none;
}
#link_home:active {
  color: #FFFFFF;
  text-decoration: none;
}
#link_about_us {
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	/* vertical-align: middle; */
	display: inline-block;
	font-family: sans-serif;
}
#link_about_us:link {
  color: #FFFFFF;
  text-decoration: none;
}
#link_about_us:visited {
  color: #FFFFFF;
  text-decoration: none;
}
#link_about_us:hover {
  color: #EEEEEE;
  text-decoration: none;
}
#link_about_us:active {
  color: #FFFFFF;
  text-decoration: none;
}
#link_contact_us {
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	/* vertical-align: middle; */
	display: inline-block;
	font-family: sans-serif;
}
#link_contact_us:link {
  color: #FFFFFF;
  text-decoration: none;
}
#link_contact_us:visited {
  color: #FFFFFF;
  text-decoration: none;
}
#link_contact_us:hover {
  color: #EEEEEE;
  text-decoration: none;
}
#link_contact_us:active {
  color: #FFFFFF;
  text-decoration: none;
}
.footer1 {
	background-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #EEEEEE;
	min-width: 100%;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
}
#link_licensing {
	padding: 5px;
	margin-left: 10%;
	margin-right: 10px;
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
}
#link_licensing:link {
  color: #666666;
  text-decoration: none;
}
#link_licensing:visited {
  color: #666666;
  text-decoration: none;
}
#link_licensing:hover {
  color: #111111;
  text-decoration: none;
}
#link_licensing:active {
  color: #666666;
  text-decoration: none;
}
#link_terms_of_service {
	padding: 5px;
	margin-right: 10px;
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
}
#link_terms_of_service:link {
  color: #666666;
  text-decoration: none;
}
#link_terms_of_service:visited {
  color: #666666;
  text-decoration: none;
}
#link_terms_of_service:hover {
  color: #111111;
  text-decoration: none;
}
#link_terms_of_service:active {
  color: #666666;
  text-decoration: none;
}
#link_privacy_policy {
	padding: 5px;
	margin-right: 10px;
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
}
#link_privacy_policy:link {
  color: #666666;
  text-decoration: none;
}
#link_privacy_policy:visited {
  color: #666666;
  text-decoration: none;
}
#link_privacy_policy:hover {
  color: #111111;
  text-decoration: none;
}
#link_privacy_policy:active {
  color: #666666;
  text-decoration: none;
}
#link_meta {
	padding: 5px;
	margin-right: 10px;
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
}
#link_meta:link {
  color: #666666;
  text-decoration: none;
}
#link_meta:visited {
  color: #666666;
  text-decoration: none;
}
#link_meta:hover {
  color: #111111;
  text-decoration: none;
}
#link_meta:active {
  color: #666666;
  text-decoration: none;
}
.footer2 {
	background-color: #FFFFFF;
	min-width: 100%;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	text-align: left;
}
#button_top_button {
	border: none;
	outline: none;
	font-size: 44px;
	line-height: 60px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #76e3f4;
	border-radius: 35px;
	margin-left: 10%;
	min-width: 60px;
	min-height: 60px;
	text-align: center;
}

/* fix footer on mobile */
@media only screen and (orientation: portrait) {
  .footer1 {
    text-align: center;
  }
  #link_licensing {
  	margin-left: 0px;
  }
  #footer2 {
	text-align: center;
  }
  #button_top_button {
	margin-left: 0px;
  }
}
#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 80%;
	min-width: 80%;
	min-height: 50%;
	padding-bottom: 10px;
	padding-top: 10px;
}
.padding_1 {
	min-height: 30px;
	max-height: 30px;
}